{% extends "base.html" %}

{% block title %}Вход.{% endblock %}

{% block content %}
  <h1>Войти</h1>
  {% if form.errors %}
    <p>
      Неверный логин или пароль.
      Попробуйте снова.
    </p>
  {% else %}
    <p>
      Заполните форму для входа в аккаунт.
    </p>
  {% endif %}
  <div class="login-form">
    <form action="{% url 'login' %}" method="post">
      {{ form.as_p }}
      {% csrf_token %}
      <input type="hidden" name="next" value="{{ next }}" />
      <p><input type="submit" value="Войти"></p>
    </form>
    <a href="{% url 'password_reset' %}">Забыли пароль?</a>
    <p>Нет аккаунта? <a href="{% url 'register' %}">Создайте!</a></p>
  </div>
  <div class="social">
    <ul>
      <li class="google">
        <a href="{% url 'social:begin' 'google-oauth2' %}">
          Войти с Google
        </a>
      </li>
      <li class="vk">
        <a href="{% url 'social:begin' 'vk-oauth2' %}">
          Войти с ВКонтакте
        </a>
      </li>
    </ul>
  </div>
{% endblock %}