{% load static %}
<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'css/base.css' %}" rel="stylesheet">
</head>
<body>
    <div id="header">
        <span class="logo">Bookmarks</span>
        {% if request.user.is_authenticated %}
        <ul class="menu">
            <li {% if section == 'dashboard' %}class="selected"{% endif %}>
              <a href="{% url 'dashboard' %}">My dashboard</a>
            </li>
            <li {% if section == 'images' %}class="selected"{% endif %}>
              <a href="https://127.0.0.1:8000/images/detail/4/truepank/">Images</a>
            </li>
            <li {% if section == 'people' %}class="selected"{% endif %}>
              <a href="#">People</a>
            </li>
        </ul>
        {% endif %}
        <span class="user">
            {% if request.user.is_authenticated %}
            Hello {{ request.user.first_name|default:request.user.username }},  <!-- если не указано имя - обращаться по username`у -->
            <a href="{% url 'logout' %}">Выйти</a>
            {% else %}
            <a href="{% url 'login' %}">Войти</a>
            {% endif %}
        </span>
    </div>
    {% if messages %}  <!-- Имеются ли сообщения для отображения -->
      <ul class="messages">
        {% for message in messages %}
          <li class="{{ message.tags }}">  <!-- tags - какой тип сообщения, error/succes и др. -->
            {{ message|safe }}
            <a href="#" class="close">x</a>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
    <div id="content">
        {% block content %}
        {% endblock %}
    </div>
</body>
</html>